body {
    margin: 0;
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
}

.nav-item:hover {
    background-image: linear-gradient(to top, #fff, #65A5FF);
    border-radius: 5%;
    transition: .2s;
}

.task-form {
    display: block;
    margin: auto;
    width: 20%;
}

.task-nav {
    display: block;
    margin: auto;
    width: 20%;
}

.form {
    display: flex;
    justify-content: left;
    vertical-align: middle;
}

.btn-group-toggle {
    margin-top: 4px;
    margin-bottom: 10px;
}

.task-list-container {
    display: block;
    margin: auto;
    width: 30%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.task-list-container .list-name {
    display: flex;
    position: relative;
    width: 100%;
    align-content: center;
    justify-content: center;
    font-size: large;
    font-weight: 1000;
}

.task-list {
    position: 'relative';
    list-style: 'none';
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: '100%';
}

.task-list-element {
    display: flex;
    position: relative;
    min-height: 3rem;
    height: fit-content;
    border: 1px solid gray;
    border-bottom: 3px solid darkgray;
    border-radius: .5rem;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: space-between;
    transition: 1s;
    overflow: hidden;
    user-select: none;
}

.task-list-element span {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.item-id {
    display: flex;
    position: relative;
    height: 100%;
    width: 10px;
}

.item-priority {
    display: flex;
    position: relative;
    width: fit-content;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;
}
